@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
	--heading-font: "Inter", sans-serif;
	--body-font: "Inter", sans-serif;

	--heading: rgb(0, 0, 0);
	--body: rgb(46, 47, 44);
	--base: rgb(18, 65, 35);

	--primary: #3737DB;
	--primary-two: #616DD4;
	--primary-three: #979EE3;
	--primary-four: #E0E0F8;
	--primary-five: #F2F2FB;
	--primary-six: #F4F4F8;
	--primary-seven: #FCFCFF;

	--secondary: #1C1B1F; 
	--secondary-two: #424049;
	--secondary-three: #7B7882;
	--secondary-four: #BEBCC3;
	--secondary-five: #E6E6EB;
	--secondary-six: #F5F5F6;
	--secondary-seven: #FAF9FB;

	--third: #E6E6EB;
	--third-two: #E3E9EF;

	--error: #EA6767;
	--error-two: #F5DFDF;

	--validation: #1EA363;
	--validation-two: #E8F3EE;
}
