html {
	scroll-behavior: smooth;
	font-size: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	color: hsl(var(--body));
	font-family: var(--body-font);
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: hsl(var(--body));
	&:hover {
		color: hsl(var(--base));
	}
}
span,
sub,
sup,
a {
	display: inline-block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
	line-height: 1.375;
	color: hsl(var(--heading));
	font-family: var(--heading-font);
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	color: inherit;
}

.fs--12px {
	font-size: 12px !important;
}
.fs--13px {
	font-size: 13px !important;
}
.fs--14px {
	font-size: 14px !important;
}
.fs--15px {
	font-size: 15px !important;
}
.fs--16px {
	font-size: 16px !important;
}
.fs--18px {
	font-size: 18px !important;
}
.fs--20px {
	font-size: 20px !important;
}