@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
  --heading: #1c1b1f;
  --body: #7b7882;
  --base: #1ea363;
  --border: #f6f6f6;
  --primary: #3737db;
  --primary-two: #616dd4;
  --primary-three: #979ee3;
  --primary-four: #e0e0f8;
  --primary-five: #f2f2fb;
  --primary-six: #f4f4f8;
  --primary-seven: #fcfcff;
  --secondary: #1c1b1f;
  --secondary-two: #424049;
  --secondary-three: #7b7882;
  --secondary-four: #bebcc3;
  --secondary-five: #e6e6eb;
  --secondary-six: #f5f5f6;
  --secondary-seven: #faf9fb;
  --third: #e6e6eb;
  --third-two: #e3e9ef;
  --error: #ea6767;
  --error-two: #f5dfdf;
  --validation: #1ea363;
  --validation-two: #e8f3ee;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: hsl(var(--body));
  font-family: var(--body-font);
  line-height: 1.5;
  background-color: #f5f5f6;
}
@media (max-width: 991px) {
  body {
    background-color: var(--white);
  }
}

a {
  text-decoration: none;
  color: hsl(var(--body));
}
a:hover {
  color: hsl(var(--base));
}

span,
sub,
sup,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.375;
  color: hsl(var(--heading));
  font-family: var(--heading-font);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 16px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
.btn {
  font-weight: 600;
  padding: 13px 32px;
  border-radius: 100px;
  font-size: 18px;
  box-shadow: 0px 2px 4px 0px rgba(12, 20, 66, 0.1215686275);
  box-shadow: 0px -1px 2px 0px rgba(12, 20, 66, 0.1019607843) inset;
  box-shadow: 0px 10px 40px 0px rgba(12, 20, 66, 0.0588235294);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
}
.btn.full {
  display: flex;
  width: 100%;
}
.btn.primary {
  color: var(--white);
  background-color: var(--validation);
}
.btn.primary.disabled {
  color: #8e8b96;
  background-color: #eaeaea;
  box-shadow: 0px -1px 2px 0px rgba(12, 20, 66, 0.1019607843) inset;
}
.btn.primary.disabled img {
  -webkit-filter: invert(35%);
  filter: invert(35%);
}
.btn.secondary {
  color: var(--secondary);
  background-color: var(--third-two);
}
.btn.secondary.disabled {
  color: #8e8b96;
  background-color: #eceff2;
  box-shadow: 0px -1px 2px 0px rgba(12, 20, 66, 0.1019607843) inset;
}
.btn.secondary.disabled img {
  -webkit-filter: invert(35%);
  filter: invert(35%);
}
.btn.secondary img {
  -webkit-filter: invert(90%);
  filter: invert(90%);
}
.btn.small {
  font-size: 16px;
  padding-block: 9px;
}
.btn.shadow-one {
  box-shadow: 0px 2px 4px 0px rgba(12, 20, 66, 0.2196078431);
  box-shadow: 0px -1px 2px 0px rgba(12, 20, 66, 0.1019607843) inset;
  box-shadow: 0px 10px 40px 0px rgba(12, 20, 66, 0.0588235294);
}
.btn.shadow-two {
  box-shadow: 0px 2px 4px 0px rgba(12, 20, 66, 0.1215686275);
  box-shadow: 0px 2px 2px 0px rgba(12, 20, 66, 0.2) inset;
  box-shadow: 0px 10px 40px 0px rgba(12, 20, 66, 0.0588235294);
}

button {
  border: 2px solid var(--validation);
  cursor: pointer;
  font-family: var(--body-font);
}

.form-group {
  margin-bottom: 16px;
}

.form--control {
  width: 100%;
  height: 56px;
  border: 1px solid var(--secondary-four);
  padding: 17px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--body-font);
  outline: 0;
}
.form--control::placeholder {
  font-weight: 500;
  color: var(--secondary-two);
}
.form--control::-webkit-input-placeholder {
  font-weight: 500;
  color: var(--secondary-two);
}
.form--control:focus {
  border-color: var(--base);
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-color: --white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  border-radius: 6px;
}

input[type=checkbox]:checked {
  background: url("../../../assets/images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--base);
  border-color: var(--base);
}

header {
  padding-block: 24px;
}
@media (max-width: 991px) {
  header {
    padding-block: 23px;
    border-bottom: 1px solid var(--secondary-five);
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--white);
    z-index: 9999;
  }
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}
.mobile-nav .logo-left {
  color: var(--heading);
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .nav-wrapper {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    bottom: 0;
    z-index: 999;
    justify-content: start;
    align-items: start;
    display: block;
    padding: 77px 32px;
    transform: translateX(-100%);
    transition: all ease 0.3s;
  }
  .nav-wrapper.active {
    transform: translateX(0);
  }
}
.nav-wrapper .nav-right {
  gap: 10px 32px;
}
@media (max-width: 991px) {
  .nav-wrapper .nav-right {
    gap: 0px;
  }
}
.nav-wrapper .register-btn {
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--white);
  padding: 8px 15px;
}
@media (max-width: 991px) {
  .nav-wrapper .register-btn {
    font-size: 32px;
    color: var(--secondary-two);
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 24px;
    border-radius: 12px;
    background-color: transparent;
  }
  .nav-wrapper .register-btn:hover {
    background-color: var(--primary-six);
    color: var(--primary);
  }
}
.nav-wrapper .badge {
  background-color: #e0e0f8;
  border-radius: 16px;
  color: var(--heading);
  font-size: 11px;
  line-height: 15.4px;
  padding: 2px 9px;
  font-weight: 500;
  margin-left: 2px;
}
@media (max-width: 991px) {
  .nav-wrapper .badge {
    transform: translateY(-20px);
    margin-left: 0px;
  }
}
.nav-wrapper .close-btn {
  width: 56px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 8px;
  transition: all ease 0.3s;
  border-radius: 12px;
  cursor: pointer;
}
.nav-wrapper .close-btn:hover {
  background-color: var(--primary-six);
}
@media (min-width: 992px) {
  .nav-wrapper .close-btn {
    display: none !important;
  }
}

.menu,
.nav-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu li a,
.nav-right li a {
  color: var(--heading);
}
@media (max-width: 991px) {
  .menu,
  .nav-right {
    display: block;
    width: 100%;
  }
  .menu li:not(:last-child),
  .nav-right li:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu li a,
  .nav-right li a {
    font-size: 32px;
    color: var(--secondary-two) !important;
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 24px;
    border-radius: 12px;
  }
  .menu li a:hover,
  .nav-right li a:hover {
    background-color: var(--primary-six);
    color: var(--primary) !important;
  }
}

.menu {
  gap: 10px 48px;
}
@media (max-width: 991px) {
  .menu {
    gap: 0;
    margin-bottom: 20px;
  }
}
.menu h6 {
  font-size: 20px;
}
.menu li a {
  color: var(--heading);
}
@media (max-width: 991px) {
  .menu li:first-child {
    display: none;
  }
  .menu li .mobile-none {
    display: none;
  }
}

.register-area {
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .register-area {
    padding-bottom: 88px;
  }
}

.register-wrapper {
  background: var(--white);
  border-radius: 18px;
  max-width: 626px;
  margin-inline: auto;
  padding: 32px 48px 30px;
  margin-top: 27px;
}
@media (max-width: 991px) {
  .register-wrapper {
    padding-inline: 0px;
    padding-top: 32px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}
.register-wrapper .register-top-content {
  margin-bottom: 28px;
}
.register-wrapper .register-top-content__title {
  margin-bottom: 8px;
}
.register-wrapper .register-top-content a {
  color: var(--body);
  text-decoration: underline;
  font-size: 14px;
}
.register-wrapper .text {
  color: var(--secondary-two);
  text-align: center;
  max-width: 310px;
  margin-inline: auto;
  margin-bottom: 32px;
}
.register-wrapper .or-text {
  color: var(--secondary-three);
  text-align: center;
  margin-bottom: 40px;
}
.register-wrapper .term-agree {
  color: var(--secondary-two);
  font-weight: 500;
  line-height: 1.4;
}
.register-wrapper .term-agree a {
  text-decoration: underline;
  display: inline;
}
.register-wrapper .checkbox-gap {
  margin-top: 32px;
  margin-bottom: 32px;
}
.register-wrapper .checkbox-wrapper {
  display: flex;
  gap: 12px;
}
.register-wrapper .error-text,
.register-wrapper .error-head {
  display: none;
}
.register-wrapper .error {
  position: relative;
  z-index: 1;
}
.register-wrapper .error input {
  position: relative;
  border-color: var(--error);
}
.register-wrapper .error .error-text {
  color: var(--error);
  font-size: 14px;
  font-weight: 500;
  max-width: 350px;
  display: block;
  line-height: 1.35;
  margin-top: 8px;
}
.register-wrapper .error .error-text {
  display: block;
}
.register-wrapper .error .error-head {
  position: absolute;
  right: 24px;
  top: 20px;
  display: block;
}

.github-google-wrapper {
  border-bottom: 1px solid var(--secondary-five);
  padding-bottom: 40px;
  margin-bottom: 32px;
}
.github-google-wrapper a {
  background-color: var(--third-two);
  border-radius: 80px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 11px;
  font-size: 18px;
  font-weight: 500;
}
.github-google-wrapper a:not(:last-child) {
  margin-bottom: 13px;
}

.useful-link-mobile {
  border-top: 1px solid var(--secondary-six);
  padding-bottom: 27px;
  padding-top: 24px;
}
.useful-link-mobile ul li {
  line-height: 1.4;
}
.useful-link-mobile ul li:not(:last-child) {
  margin-bottom: 12px;
}
.useful-link-mobile ul li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--heading);
}
.useful-link-mobile .useful-bottom-content {
  padding-top: 24px;
}
.useful-link-mobile .useful-bottom-content p {
  margin: 0;
  color: var(--secondary-three);
  font-size: 14px;
  line-height: 1.4;
}
.useful-link-mobile .useful-bottom-content p:first-child {
  margin-bottom: 11px;
}
@media (min-width: 992px) {
  .useful-link-mobile {
    display: none;
  }
}