// register form start
.register-area {
    padding-bottom: 100px;
    @include breakpoint(max-lg) {
        padding-bottom: 88px;
    }
}
.register-wrapper {
    background: var(--white);
    border-radius: 18px;
    max-width: 626px;
    margin-inline: auto;
    padding: 32px 48px 30px;
    margin-top: 27px;
    @include breakpoint(max-lg) {
        padding-inline: 0px;
        padding-top: 32px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .register-top-content {
        margin-bottom: 28px;
        &__title {
            margin-bottom: 8px;
        }
        a {
            color: var(--body);
            text-decoration: underline;
            font-size: 14px;
        }
    }
    .text {
        color: var(--secondary-two);
        text-align: center;
        max-width: 310px;
        margin-inline: auto;
        margin-bottom: 32px;
    }
    .or-text {
        color: var(--secondary-three);
        text-align: center;
        margin-bottom: 40px;
    }
    .term-agree {
        color: var(--secondary-two);
        font-weight: 500;
        line-height: 1.4;
        a {
            text-decoration: underline;
            display: inline;
        }
    }
    .checkbox-gap {
        margin-top: 32px;
        margin-bottom: 32px;
        #term-agree2 {
            flex-shrink: 0;
        }
    }
    .checkbox-wrapper {
        display: flex;
        gap: 12px;
    }
    .error-text,
    .error-head {
        display: none;
    }
    .error {
        position: relative;
        z-index: 1;
        input {
            position: relative;
            border-color: var(--error);
        }
        .error-text {
            color: var(--error);
            font-size: 14px;
            font-weight: 500;
            max-width: 350px;
            display: block;
            line-height: 1.35;
            margin-top: 8px;
        }
        .error-text {
            display: block;
        }
        .error-head {
            position: absolute;
            right: 24px;
            top: 20px;
            display: block;
        }
    }
}
.github-google-wrapper {
    border-bottom: 1px solid var(--secondary-five);
    padding-bottom: 40px;
    margin-bottom: 32px;
    a {
        background-color: var(--third-two);
        border-radius: 80px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 11px;
        font-size: 18px;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}
// register form end

// useful-link-only mobile start
.useful-link-mobile {
    border-top: 1px solid var(--secondary-six);
    padding-bottom: 27px;
    padding-top: 24px;
    ul {
        li {
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            a {
                font-size: 14px;
                font-weight: 400;
                color: var(--heading);
            }
        }
    }
    .useful-bottom-content {
        padding-top: 24px;
        p {
            margin: 0;
            color: var(--secondary-three);
            font-size: 14px;
            line-height: 1.4;
            &:first-child {
                margin-bottom: 11px;
            }
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}
// useful-link-only mobile end

// hero section start
.hero-section {
    padding-top: 60px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dadada;
    @include breakpoint(max-lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.hero-content {
    text-align: center;
    &__commission {
        margin-bottom: 40px;
        font-size: 16px;
        color: var(--primary);
        font-weight: 600;
        background-color: #ededff;
        padding: 6px 19px;
        border-radius: 50px;
        line-height: 1.4;
        border: 1px solid var(--primary);
        @include breakpoint(max-lg) {
            font-size: 14px;
        }
    }
    &__title {
        line-height: 1.2;
        margin-bottom: 40px;
        @include breakpoint(max-lg) {
            font-size: 40px;
            margin-bottom: 0px;
        }
        span {
            font-weight: 400;
            display: block;
            margin-bottom: 12px;
            @include breakpoint(max-lg) {
                font-size: 28px;
                margin-bottom: 24px;
            }
        }
    }
    p {
        font-size: 24px;
        color: var(--secondary);
        max-width: 450px;
        margin-inline: auto;
        line-height: 1.4;
        margin-bottom: 0px;
        @include breakpoint(max-lg) {
            display: none;
        }
    }
}
// hero section end

// filter section start
.search-filter-wrapper {
    padding-top: 40px;
    background: linear-gradient(180deg, #ffffff 41%, #f4f4f4 100%);
    @include breakpoint(max-lg) {
        padding-top: 25px;
        background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
    }
}
.mobile-more-filters-wrapper {
    @media (min-width: 992px) {
        display: none;
        .more-filter {
            display: none;
        }
        .mobile-text {
            display: none;
        }
    }
}

@include breakpoint(max-lg) {
    .mobile-more-filters-wrapper {
        width: 100%;
        margin-top: 24px;
        button {
            margin-bottom: 16px;
            &:first-child {
                // border
                border-color: var(--third-two);
            }
        }
        .more-filter {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            padding: 62px 16px 50px;
            background: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(6px);
            z-index: 9999;
            overflow-y: auto;
            transform: translateX(-100%);
            transition: all ease 0.3s;
            &.active {
                transform: translateX(0);
            }
            .close-btn-two {
                position: absolute;
                top: 12px;
                right: 16px;
            }
            .dropdown-item {
                margin-bottom: 24px;
            }
            .select-item-wrapper {
                display: block;
                padding-left: 0px;
                span {
                    color: var(--secondary-three);
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 6px;
                    @include breakpoint(max-lg) {
                        font-size: 16px;
                    }
                }
            }
            .select-wrapper-inner {
                display: flex;
                gap: 16px;
            }
            .skill-wrapper {
                width: 100%;
                align-items: flex-start;
                margin-top: 24px;
            }
            .input-wrapper {
                height: 148px;
                align-items: flex-start;
                overflow-y: auto;
            }
            .input-area {
                display: block;
                align-items: center;
            }
            .skill-wrapper #keywordsContainer,
            #keywordsContainer2 {
                flex-wrap: wrap;
            }
            .remote-wrapper {
                margin-top: 24px;
            }
            .remote-wrapper__inner {
                flex-wrap: wrap;
                gap: 16px 24px;
            }
            .skill-wrapper input {
                width: 100%;
                height: 30px;
            }
            .input-area {
                overflow-y: scroll;
            }
            .search-btn-wrapper {
                margin-top: 34px;
                button {
                    border-color: var(--validation);
                    margin-bottom: 0;
                }
            }
        }
    }
    .destop-text {
        display: none;
    }
}

.search-filter-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.search-filter-bottom {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;
    @include breakpoint(max-lg) {
        display: none;
    }
    span.border-1 {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
        transform: translateY(-16px);
        margin-inline: 24px;
        @include breakpoint(max-lg) {
            display: none;
        }
    }
}
.select-item-wrapper {
    display: flex;
    gap: 16px;
    padding-left: 24px;
    @include breakpoint(max-lg) {
        display: none;
    }
}
.dropdown-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    @include breakpoint(max-lg) {
        width: 100%;
        flex-wrap: wrap;
        .dropdown-item {
            width: 100%;
        }
    }
    span.border-1 {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
        transform: translateY(12px);
        @include breakpoint(max-xl) {
            display: none;
        }
    }
}
.dropdown-item {
    position: relative;
    &.style-two {
        .dropdown {
            width: 195px;
            @include breakpoint(max-lg) {
                width: 100%;
            }
        }
    }
    span {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
        @include breakpoint(max-lg) {
            font-size: 16px;
        }
    }

    .dropdown {
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        border-radius: 6px;
        width: 343px;
        position: relative;
        padding-block: 14px;
        cursor: pointer;
        padding-inline: 24px;
        position: relative;
        @include breakpoint(max-xl) {
            width: 200px;
        }
        @include breakpoint(max-lg) {
            width: 100%;
        }
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: var(--secondary-two);
            font-weight: 500;
        }
        input {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:focus {
                .dropdown-list {
                    top: 106%;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
        }
    }
    .dropdown-list {
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        border-radius: 6px;
        position: absolute;
        cursor: pointer;
        top: 104%;
        left: 0;
        right: 0;
        z-index: 10;
        padding-left: 12px;
        padding-block: 12px;
        transition: all ease 0.3s;
        display: none;
        padding-right: 6px;
        // opacity: 0;
        ul {
            overflow-y: auto;
            height: 150px;
            &::-webkit-scrollbar {
                border-radius: 10px !important;
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px !important;
                background: #00000017;
            }
            &::-webkit-scrollbar-track {
                background-color: var(--white);
            }
        }

        li {
            cursor: pointer;
        }
        label {
            display: flex;
            align-items: center;
            padding: 15px 14px;
            cursor: pointer;
            border-radius: 6px;
            transition: all ease 0.3s;
            color: var(--secondary-two);
            font-weight: 500;
            &:hover {
                background-color: var(--primary-four);
            }
        }
        input {
            display: none;
        }
    }
}
.select-radio {
    position: relative;
    display: inline-block;
    label {
        height: 56px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding-inline: 24px;
        padding-right: 48px;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        z-index: 1;
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        cursor: pointer;
    }
    label#freelacne {
        padding-right: 24px;
        padding-left: 48px;
    }
    input {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-55%);
        z-index: 2;
    }
    input#freelacne {
        left: 20px;
        right: auto;
        transform: translateY(-60%);
    }
    input[type="radio"]:checked {
        background-color: var(--primary);
        border-color: var(--primary);
    }
    input[type="radio"]:checked ~ label {
        background-color: var(--primary-four);
        border-color: var(--primary);
    }
}
.remote-wrapper {
    span {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
        @include breakpoint(max-lg) {
            font-size: 16px;
        }
    }
}
.remote-wrapper__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    span {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
    }
}
.search-btn-wrapper {
    button {
        font-size: 18px;
        font-weight: 600;
    }
}

.skill-wrapper {
    width: 382px;
    @include breakpoint(max-xl) {
        width: 280px;
    }
    span.skill-text {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
        @include breakpoint(max-lg) {
            font-size: 16px;
        }
    }
    .input-wrapper {
        border: 1px solid var(--secondary-four);
        border-radius: 6px;
        padding: 9px 12px;
        height: 56px;
        background-color: var(--white);
        display: flex;
        align-items: center;
    }
    .input-area {
        margin-bottom: 0px;
        width: 100%;
        display: flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #keywordsContainer,
    #keywordsContainer2 {
        display: flex;
        // flex-wrap: wrap;
    }
    input {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--heading);
    }
    .keyword {
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
        padding-right: 25px;
        position: relative; /* Add this */
        color: var(--heading);
        font-size: 14px;
        border: 1px solid var(--secondary-four);
        margin: 2px;
        font-weight: 500;
    }

    .remove-icon {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        color: var(--secondary-three);
        cursor: pointer;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid var(--secondary-three);
        font-size: 8px;
        text-align: center;
        color: var(--secondary-three);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .remove-icon:hover {
        color: #555;
    }
}
.filter-section {
    .container {
        max-width: 1216px;
    }
}

// user-profile-wrapper
.user-profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 88px;
    justify-content: center;
    @include breakpoint(max-lg) {
        padding-top: 50px;
    }
}
.single-user-profile-item {
    max-width: 568px;
    border-radius: 18px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0px 0px 4px rgba(55, 55, 219, 0.2);
    @media (max-width: 1220px) {
        box-shadow: none;
        width: 47%;
    }
    @media (max-width: 850px) {
        // box-shadow: none;
        width: 46%;
    }
    @include breakpoint(max-md) {
        width: 100%;
    }
    &__thumb {
        height: 389px;
        position: relative;
        @include breakpoint(max-xl) {
            height: 237px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 18px 18px 0 0;
            overflow: hidden;
        }
        .thumb-viewer-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            padding: 14px 20px;
            background: rgba(28, 27, 31, 0.32);
            backdrop-filter: blur(5px);
            @include breakpoint(max-xl) {
                background-color: transparent;
                backdrop-filter: none;
                gap: 11px;
            }
            .thumb {
                width: 67px;
                height: 48px;
                border: 2px solid #dedede;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                @include breakpoint(max-xl) {
                    width: 20px;
                    height: 10px;
                    border-width: 1px;
                    background-color: white;
                    opacity: 0.7;
                    box-shadow: 0px 0px 4px rgba(28, 27, 31, 0.6);
                }
                &.active {
                    border-color: var(--primary);
                    opacity: 1;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0px;
                }
            }
        }
    }
    &__content {
        background-color: var(--white);
        padding: 24px;
        @include breakpoint(max-lg) {
            padding: 0px;
            padding-top: 10px;
        }
        .author-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
        }
        .content-left {
            gap: 12px;
            display: flex;
            flex-wrap: wrap;
            @include breakpoint(max-xl) {
                gap: 9px;
            }
            .author-thumb {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                @include breakpoint(max-xl) {
                    width: 36px;
                    height: 36px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .author-content {
                .name {
                    color: var(--heading);
                    margin-bottom: 6px;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        color: #666666;
                    }
                    @include breakpoint(max-xl) {
                        font-size: 18px;
                        margin-bottom: 4px;
                        span {
                            display: none;
                        }
                    }
                }
                .designation {
                    line-height: 1.4;
                    color: var(--heading);
                    margin-bottom: 8px;
                    @include breakpoint(max-xl) {
                        font-size: 14px;
                        margin-bottom: 4px;
                    }
                }
                .answer-time {
                    color: var(--secondary-three);
                    margin: 0;
                    line-height: 1.4;
                    @include breakpoint(max-xl) {
                        font-size: 14px;
                    }
                }
            }
        }
        .content-right {
            text-align: end;
            .dollar {
                color: var(--heading);
                font-weight: 500;
                margin-bottom: 10px;
                line-height: 1.4;
                @include breakpoint(max-xl) {
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
            p {
                margin: 0;
                color: var(--primary);
                display: flex;
                gap: 5px;
                line-height: 1.4;
                @include breakpoint(max-xl) {
                    font-size: 14px;
                    gap: 3px;
                    align-items: center;
                    img {
                        height: 15px;
                    }
                }
            }
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 64px 0;
    @include breakpoint(max-lg) {
        padding-top: 48px;
    }
    a {
        width: 39px;
        height: 39px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: var(--white);
        border: 1px solid #e6e6eb;
        color: var(--secondary-three);
        &.active {
            color: var(--primary);
            font-weight: 600;
        }
    }
}

// profile user start
.profile-user-top {
    padding-top: 40px;
}
.profile-user-top-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    @include breakpoint(max-lg) {
        margin-bottom: 25px;
    }
}

.back-btn-left {
    a {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        color: var(--body);
        @include breakpoint(max-lg) {
            font-size: 14px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.like-btn-right {
    @include breakpoint(max-lg) {
        display: none;
    }
    a {
        color: var(--heading);
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.2) 0%,
                rgba(255, 255, 255, 0.014) 100%
            ),
            #e3e9ef;
        box-shadow: 0px 2px 4px rgba(12, 20, 66, 0.02),
            inset 0px -1px 2px rgba(12, 20, 66, 0.03);
        border-radius: 50px;
        gap: 11px;
        display: flex;
        width: 130px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
}
.profile-user {
    @include breakpoint(max-lg) {
        position: relative;
        .container {
            position: relative;
            z-index: 1;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            right: 0;
            height: 475px;
            background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
        }
    }
    .container {
        max-width: 1230px;
    }
}
.profile-user-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // gap: 39px;
}
.profile-user-left {
    width: 418px;
    @include breakpoint(max-lg) {
        width: 100%;
    }
}
.profile-user-right {
    width: 100%;
    width: calc(100% - 418px);
    padding-left: 40px;
    @include breakpoint(max-lg) {
        padding-left: 0px;
        width: 100%;
    }
}
.profile-user-gallery-wrapper {
    .single-user-profile-item {
        width: 100%;
        max-width: 100%;
        &:not(:last-child) {
            margin-bottom: 40px;
            @include breakpoint(max-lg) {
                padding-bottom: 40px;
                border-bottom: 1px solid var(--secondary-five);
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
        &__thumb {
            height: 557px;
            @include breakpoint(max-xl) {
                height: 400px;
            }
            @include breakpoint(max-lg) {
                height: 260px;
                img {
                    border-radius: 18px;
                }
            }
        }
        &__content {
            padding: 25px 35px 15px;
            @include breakpoint(max-lg) {
                padding: 0;
                padding-top: 16px;
            }
            .content {
                max-width: 650px;
                margin-left: auto;
            }
            .title {
                margin-bottom: 3px;
                a {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: 20px;
                    color: var(--heading);
                    font-weight: 600;
                    @include breakpoint(max-lg) {
                        font-size: 18px;
                    }
                    .icon {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                        border: 1px solid #dedede;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                    }
                }
            }
            .comment-text {
                font-weight: 500;
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: 8px;
                @include breakpoint(max-lg) {
                    font-size: 14px;
                    p {
                        margin-bottom: 0px;
                    }
                }
                .icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #fdf0e4;
                    // display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    &.style-two {
                        background-color: #e4f1fd;
                    }
                }
            }
            .skill-keyword-wrpaper {
                padding-top: 22px;
                padding-bottom: 0px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                @include breakpoint(max-lg) {
                    padding-top: 16px;
                }
            }
            .text {
                font-size: 14px;
                font-weight: 500;
                color: var(--body);
            }
        }
    }
}
.profile-user-info-wrapper {
    background-color: var(--white);
    border-radius: 18px;
    padding: 40px 32px 37px;
    margin-bottom: 32px;
    @include breakpoint(max-lg) {
        background-color: transparent;
        padding: 0;
        margin-bottom: 50px;
    }
    img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
    }
    .author-wrapper {
        display: flex;
        align-items: center;
        gap: 24px;
        .name {
            color: var(--heading);
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 6px;
        }
        .available-text {
            color: #288109;
            font-weight: 500;
            font-size: 14px;
            padding-left: 34px;
            position: relative;
            &::before {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #3da718;
            }
        }
        .dollar-text {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .user-text {
        margin-top: 24px;
        p {
            margin: 0;
            color: var(--secondary-three);
            line-break: 1.4;
            &:first-child {
                margin-bottom: 6px;
            }
        }
    }
    .skill-keyword-wrpaper {
        padding-top: 22px;
        padding-bottom: 32px;
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(max-lg) {
            padding-bottom: 24px;
        }
    }
}
.recommended-wrapper {
    padding: 40px 32px 40px;
    background-color: var(--white);
    border-radius: 18px;
    margin-top: 32px;
    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 11px;
        font-size: 18px;
        margin-bottom: 16px;
        .icon {
            width: 30px;
            height: 30px;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #fdf0e4;
            &.style-two {
                background-color: #e0e0f8;
            }
            &.style-three {
                background-color: #e0f8f1;
            }
        }
    }
    .bottom-text {
        margin-top: 34px;
    }
    .rating {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 34px;
    }
    p {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        color: #595959;
    }
    .skill-keyword-wrpaper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.social-follower {
    background-color: var(--white);
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 25px 32px;
    margin-top: 30px;
    li {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
.languages-spoken-wrapper {
    background-color: var(--white);
    border-radius: 18px;
    padding: 40px 32px 37px;
    .summary-text {
        font-weight: 600;
        font-size: 18px;
        margin-top: 24px;
        padding-top: 24px;
        padding-bottom: 18px;
        border-top: 1px solid var(--border);
    }
    .languages-text {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .language {
        li {
            font-weight: 500;
            font-size: 16px;
            color: var(--heading);
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 7px;
        }
    }
    .summary-wrapper {
        li {
            display: flex;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            span {
                width: 50%;
                display: block;
                &:first-child {
                    color: var(--body);
                }
                &:last-child {
                    text-align: end;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .mobile-more-about-info,
    .more-about-btn {
        display: none;
    }
}
@include breakpoint(max-lg) {
    .more-about-btn {
        color: #2573c1;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: underline;
        margin-bottom: 24px;
        img {
            width: 16px !important;
            height: 16px !important;
        }
    }
    .languages-spoken-wrapper,
    .recommended-wrapper,
    .social-follower {
        display: none;
    }
    .mobile-more-about-info {
        background: var(--secondary-five);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 9999;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: all ease 0.3s;
        &.active {
            transform: translateX(0);
        }
        .languages-spoken-wrapper,
        .recommended-wrapper,
        .social-follower,
        .profile-user-info-wrapper {
            display: block;
            padding-inline: 16px;
            border-radius: 0px;
            background-color: var(--white);
        }
        .profile-user-info-wrapper {
            padding-top: 48px;
            padding-bottom: 35px;
        }
        .close-btn-info {
            position: absolute;
            right: 16px;
            top: 12px;
        }
        .profile-user-info-wrapper {
            margin-bottom: 16px;
        }
        .language-wrapper-mobile {
            background-color: var(--white);
            padding-block: 30px;
            padding-inline: 16px;
            margin-bottom: 16px;
            .languages-text {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 16px;
            }
            .language {
                li {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--heading);
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 7px;
                }
            }
        }
        .languages-spoken-wrapper {
            padding-top: 0px;
        }
        .summary-text {
            border-top: none;
            padding-top: 32px;
            margin-top: 0px;
        }
        .recommended-wrapper {
            padding-block: 32px;
            margin-top: 16px;
        }
        .social-follower {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            li {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--body);
            }
        }
        .button-wrapper {
            background-color: var(--white);
            text-align: center;
            padding-bottom: 50px;
            margin-top: 16px;
            padding-top: 30px;
            padding-inline: 16px;
            a {
                &:first-child {
                    margin-bottom: 24px;
                }
                img {
                    filter: invert(0%);
                }
            }
        }
    }
}

// send message box start
.send-message-box-section {
    padding-bottom: 100px;
    padding-top: 80px;
    @include breakpoint(max-lg) {
        padding-bottom: 65px;
        padding-top: 40px;
    }
    .back-btn-left {
        max-width: 630px;
        margin-inline: auto;
        padding-bottom: 40px;
        @include breakpoint(max-lg) {
            padding-bottom: 0;
        }
        a {
            font-size: 16px;
            font-weight: 500;
            gap: 10px;
            @include breakpoint(max-lg) {
                font-size: 14px;
                gap: 8px;
            }
        }
        img {
            width: 24px;
            height: 24px;
            @include breakpoint(max-lg) {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.send-message-box-wrapper {
    background-color: var(--white);
    max-width: 630px;
    margin-inline: auto;
    border-radius: 18px;
    padding-block: 40px;
    @include breakpoint(max-lg) {
        padding-bottom: 0;
    }
    .profile-user-info-wrapper {
        padding: 0;
        border-radius: 0px;
        padding-inline: 55px;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 25px;
        margin-bottom: 38px;
        @include breakpoint(max-lg) {
            padding-inline: 0;
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 35px;
        }
    }
    form {
        padding-inline: 55px;
        @include breakpoint(max-lg) {
            padding-inline: 0;
        }
    }
    label {
        font-weight: 500;
        line-height: 1.4;
    }
    .form-group {
        margin-bottom: 25px;
    }
    textarea,
    input {
        &::placeholder {
            font-size: 16px;
            font-weight: 500;
            color: var(--body);
        }
    }
    textarea {
        height: 170px;
    }
    .btn-group {
        display: flex;
        align-items: center;
        gap: 24px;
        button {
            box-shadow: 0px 10px 40px rgba(12, 20, 66, 0.06),
                0px 2px 4px rgba(12, 20, 66, 0.12),
                inset 0px -1px 2px rgba(12, 20, 66, 0.1);
        }
        a {
            color: var(--body);
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
.input-radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    input {
        width: 20px;
        height: 20px;
        left: 12px;
        top: 18px;
    }
    label {
        font-size: 14px;
        color: #5e5867;
        padding-right: 16px;
        padding-left: 42px;
        height: 40px;
    }
}
// send message box end
