// register form start
.register-area {
    padding-bottom: 100px;
    @include breakpoint(max-lg) {
        padding-bottom: 88px;
    }
}
.register-wrapper {
    background: var(--white);
    border-radius: 18px;
    max-width: 626px;
    margin-inline: auto;
    padding: 32px 48px 30px;
    margin-top: 27px;
    @include breakpoint(max-lg) {
        padding-inline: 0px;
        padding-top: 32px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .register-top-content {
        margin-bottom: 28px;
        &__title {
            margin-bottom: 8px;
        }
        a {
            color: var(--body);
            text-decoration: underline;
            font-size: 14px;
        }
    }
    .text {
        color: var(--secondary-two);
        text-align: center;
        max-width: 310px;
        margin-inline: auto;
        margin-bottom: 32px;
    }
    .or-text {
        color: var(--secondary-three);
        text-align: center;
        margin-bottom: 40px;
    }
    .term-agree {
        color: var(--secondary-two);
        font-weight: 500;
        line-height: 1.4;
        a {
            text-decoration: underline;
            display: inline;
        }
    }
    .checkbox-gap {
        margin-top: 32px;
        margin-bottom: 32px;
        #term-agree2 {
            flex-shrink: 0;
        }
    }
    .checkbox-wrapper {
        display: flex;
        gap: 12px;
    }
    .error-text,
    .error-head {
        display: none;
    }
    .error {
        position: relative;
        z-index: 1;
        input {
            position: relative;
            border-color: var(--error);
        }
        .error-text {
            color: var(--error);
            font-size: 14px;
            font-weight: 500;
            max-width: 350px;
            display: block;
            line-height: 1.35;
            margin-top: 8px;
        }
        .error-text {
            display: block;
        }
        .error-head {
            position: absolute;
            right: 24px;
            top: 20px;
            display: block;
        }
    }
}
.github-google-wrapper {
    border-bottom: 1px solid var(--secondary-five);
    padding-bottom: 40px;
    margin-bottom: 32px;
    a {
        background-color: var(--third-two);
        border-radius: 80px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 11px;
        font-size: 18px;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}
// register form end

// useful-link-only mobile start
.useful-link-mobile {
    border-top: 1px solid var(--secondary-six);
    padding-bottom: 27px;
    padding-top: 24px;
    ul {
        li {
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            a {
                font-size: 14px;
                font-weight: 400;
                color: var(--heading);
            }
        }
    }
    .useful-bottom-content {
        padding-top: 24px;
        p {
            margin: 0;
            color: var(--secondary-three);
            font-size: 14px;
            line-height: 1.4;
            &:first-child {
                margin-bottom: 11px;
            }
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}
// useful-link-only mobile end

// hero section start
.hero-section {
    padding-top: 60px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dadada;
    @include breakpoint(max-lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.hero-content {
    text-align: center;
    &__commission {
        margin-bottom: 40px;
        font-size: 16px;
        color: var(--primary);
        font-weight: 600;
        background-color: #ededff;
        padding: 6px 19px;
        border-radius: 50px;
        line-height: 1.4;
        border: 1px solid var(--primary);
        @include breakpoint(max-lg) {
            font-size: 14px;
        }
    }
    &__title {
        line-height: 1.2;
        margin-bottom: 40px;
        @include breakpoint(max-lg) {
            font-size: 40px;
            margin-bottom: 0px;
        }
        span {
            font-weight: 400;
            display: block;
            margin-bottom: 12px;
            @include breakpoint(max-lg) {
                font-size: 28px;
                margin-bottom: 24px;
            }
        }
    }
    p {
        font-size: 24px;
        color: var(--secondary);
        max-width: 450px;
        margin-inline: auto;
        line-height: 1.4;
        @include breakpoint(max-lg) {
            display: none;
        }
    }
}
// hero section end

// filter section start
.search-filter-wrapper {
    padding-top: 40px;
    background: linear-gradient(180deg, #ffffff 41%, #f4f4f4 100%);
    @include breakpoint(max-lg) {
        padding-top: 25px;
        background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
    }
}
.mobile-more-filters-wrapper {
    @media (min-width: 992px) {
        display: none;
        .more-filter {
            display: none;
        }
    }
}

@include breakpoint(max-lg) {
    .mobile-more-filters-wrapper {
        width: 100%;
        margin-top: 24px;
        button {
            margin-bottom: 16px;
            &:first-child {
                // border
                border-color: var(--third-two);
            }
        }
        .more-filter {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            padding: 62px 16px 50px;
            background: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(6px);
            z-index: 9999;
            overflow-y: auto;
            transform: translateX(-100%);
            transition: all ease 0.3s;
            &.active {
                transform: translateX(0);
            }
            .close-btn-two {
                position: absolute;
                top: 12px;
                right: 16px;
            }
            .dropdown-item {
                margin-bottom: 24px;
            }
            .select-item-wrapper {
                display: block;
                padding-left: 0px;
                span {
                    color: var(--secondary-three);
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 6px;
                }
            }
            .select-wrapper-inner {
                display: flex;
                gap: 16px;
            }
            .skill-wrapper {
                width: 100%;
                align-items: flex-start;
                margin-top: 24px;
            }
            .input-wrapper {
                height: 148px;
                align-items: flex-start;
                overflow-y: auto;
            }
            .input-area {
                display: block;
                align-items: center;
            }
            .skill-wrapper #keywordsContainer {
                flex-wrap: wrap;
            }
            .remote-wrapper {
                margin-top: 24px;
            }
            .remote-wrapper__inner {
                flex-wrap: wrap;
                gap: 16px 24px;
            }
            .skill-wrapper input {
                width: 100%;
                height: 30px;
            }
            .input-area {
                overflow-y: scroll;
            }
            .search-btn-wrapper {
                margin-top: 34px;
                button {
                    border-color: var(--validation);
                    margin-bottom: 0;
                }
            }
        }
    }
}

.search-filter-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.search-filter-bottom {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;
    @include breakpoint(max-lg) {
        display: none;
    }
    span.border-1 {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
        transform: translateY(-16px);
        margin-inline: 24px;
        @include breakpoint(max-lg) {
            display: none;
        }
    }
}
.select-item-wrapper {
    display: flex;
    gap: 16px;
    padding-left: 24px;
    @include breakpoint(max-lg) {
        display: none;
    }
}
.dropdown-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    @include breakpoint(max-lg) {
        width: 100%;
        flex-wrap: wrap;
        .dropdown-item {
            width: 100%;
        }
    }
    span.border-1 {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
        transform: translateY(12px);
        @include breakpoint(max-xl) {
            display: none;
        }
    }
}
.dropdown-item {
    position: relative;
    &.style-two {
        .dropdown {
            width: 195px;
            @include breakpoint(max-lg) {
                width: 100%;
            }
        }
    }
    span {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .dropdown {
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        border-radius: 6px;
        width: 343px;
        position: relative;
        padding-block: 14px;
        cursor: pointer;
        padding-inline: 24px;
        position: relative;
        @include breakpoint(max-xl) {
            width: 200px;
        }
        @include breakpoint(max-lg) {
            width: 100%;
        }
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: var(--secondary-two);
            font-weight: 500;
        }
        input {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:focus {
                .dropdown-list {
                    top: 106%;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
        }
    }
    .dropdown-list {
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        border-radius: 6px;
        position: absolute;
        cursor: pointer;
        top: 104%;
        left: 0;
        right: 0;
        z-index: 10;
        padding-inline: 15px;
        padding-block: 10px;
        overflow-y: auto;
        height: 170px;
        transition: all ease 0.3s;
        // opacity: 0;
        display: none;
        &::-webkit-scrollbar {
            border-radius: 10px !important;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px !important;
            background: #00000017;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--white);
        }

        li {
            cursor: pointer;
        }
        label {
            display: flex;
            align-items: center;
            padding: 15px 9px;
            cursor: pointer;
            border-radius: 6px;
            transition: all ease 0.3s;
            color: var(--secondary-two);
            font-weight: 500;
            &:hover {
                background-color: var(--primary-four);
            }
        }
        input {
            display: none;
        }
    }
}
.select-checkbox {
    position: relative;
    display: inline-block;
    label {
        height: 56px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding-inline: 24px;
        padding-right: 48px;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        z-index: 1;
        border: 1px solid var(--secondary-four);
        background-color: var(--white);
        cursor: pointer;
    }
    label#freelacne {
        padding-right: 24px;
        padding-left: 48px;
    }
    input {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-55%);
        z-index: 2;
    }
    input#freelacne {
        left: 20px;
        right: auto;
        transform: translateY(-60%);
    }
    input[type="checkbox"]:checked {
        background-color: var(--primary);
        border-color: var(--primary);
    }
    input[type="checkbox"]:checked ~ label {
        background-color: var(--primary-four);
        border-color: var(--primary);
    }
}
.remote-wrapper {
    span {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
    }
}
.remote-wrapper__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    span {
        height: 16px;
        width: 1px;
        display: block;
        background-color: #919191;
    }
}
.search-btn-wrapper {
    button {
        font-size: 18px;
        font-weight: 600;
    }
}

.skill-wrapper {
    width: 382px;
    @include breakpoint(max-xl) {
        width: 280px;
    }
    span.skill-text {
        color: var(--secondary-three);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 6px;
    }
    .input-wrapper {
        border: 1px solid var(--secondary-four);
        border-radius: 6px;
        padding: 9px 12px;
        height: 56px;
        background-color: var(--white);
        display: flex;
        align-items: center;
    }
    .input-area {
        margin-bottom: 0px;
        width: 100%;
        display: flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #keywordsContainer {
        display: flex;
        // flex-wrap: wrap;
    }
    input {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--heading);
    }
    .keyword {
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
        padding-right: 25px;
        position: relative; /* Add this */
        color: var(--heading);
        font-size: 14px;
        border: 1px solid var(--secondary-four);
        margin: 2px;
        font-weight: 500;
    }

    .remove-icon {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        color: var(--secondary-three);
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 2px solid var(--secondary-three);
        font-size: 9px;
        line-height: 9px;
        text-align: center;
    }

    .remove-icon:hover {
        color: #555;
    }
}
.filter-section {
    .container {
        max-width: 1216px;
    }
}

// user-profile-wrapper
.user-profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 88px;
    justify-content: center;
}
.single-user-profile-item {
    max-width: 568px;
    border-radius: 18px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0px 0px 4px rgba(55, 55, 219, 0.2);
    @include breakpoint(max-xl) {
        box-shadow: none;
    }
    &__thumb {
        height: 389px;
        position: relative;
        @include breakpoint(max-xl) {
            height: 237px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 18px 18px 0 0;
            overflow: hidden;
        }
        .thumb-viewer-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            padding: 14px 20px;
            background: rgba(28, 27, 31, 0.32);
            backdrop-filter: blur(5px);
            @include breakpoint(max-xl) {
                background-color: transparent;
                backdrop-filter: none;
                gap: 11px;
            }
            .thumb {
                width: 67px;
                height: 48px;
                border: 2px solid #dedede;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                @include breakpoint(max-xl) {
                    width: 20px;
                    height: 10px;
                    border-width: 1px;
                    background-color: white;
                    opacity: 0.7;
                    box-shadow: 0px 0px 4px rgba(28, 27, 31, 0.6);
                }
                &.active {
                    border-color: var(--primary);
                    opacity: 1;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0px;
                }
            }
        }
    }
    &__content {
        background-color: var(--white);
        padding: 24px;
        @include breakpoint(max-lg) {
            padding: 0px;
            padding-top: 10px;
        }
        .author-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
        }
        .content-left {
            gap: 12px;
            display: flex;
            flex-wrap: wrap;
            @include breakpoint(max-xl) {
                gap: 9px;
            }
            .author-thumb {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                @include breakpoint(max-xl) {
                    width: 36px;
                    height: 36px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .author-content {
                .name {
                    color: var(--heading);
                    margin-bottom: 6px;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        color: #666666;
                    }
                    @include breakpoint(max-xl) {
                        font-size: 18px;
                        margin-bottom: 4px;
                        span {
                            display: none;
                        }
                    }
                }
                .designation {
                    line-height: 1.4;
                    color: var(--heading);
                    margin-bottom: 8px;
                    @include breakpoint(max-xl) {
                        font-size: 14px;
                        margin-bottom: 4px;
                    }
                }
                .answer-time {
                    color: var(--secondary-three);
                    margin: 0;
                    line-height: 1.4;
                    @include breakpoint(max-xl) {
                        font-size: 14px;
                    }
                }
            }
        }
        .content-right {
            text-align: end;
            .dollar {
                color: var(--heading);
                font-weight: 500;
                margin-bottom: 10px;
                line-height: 1.4;
                @include breakpoint(max-xl) {
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
            p {
                margin: 0;
                color: var(--primary);
                display: flex;
                gap: 5px;
                line-height: 1.4;
                @include breakpoint(max-xl) {
                    font-size: 14px;
                    gap: 3px;
                    align-items: center;
                    img {
                        height: 15px;
                    }
                }
            }
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 64px 0;
    @include breakpoint(max-lg) {
        padding-top: 48px;
    }
    a {
        width: 39px;
        height: 39px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: var(--white);
        border: 1px solid #e6e6eb;
        color: var(--secondary-three);
        &.active {
            color: var(--primary);
            font-weight: 600;
        }
    }
}
