// register form start
.register-area {
    padding-bottom: 100px;
    @include breakpoint(max-lg) {
        padding-bottom: 88px;
    }
}
.register-wrapper {
    background: var(--white);
    border-radius: 18px;
    max-width: 626px;
    margin-inline: auto;
    padding: 32px 48px 30px;
    margin-top: 27px;
    @include breakpoint(max-lg) {
        padding-inline: 0px;
        padding-top: 32px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .register-top-content {
        margin-bottom: 28px;
        &__title {
            margin-bottom: 8px;
        }
        a {
            color: var(--body);
            text-decoration: underline;
            font-size: 14px;
        }
    }
    .text {
        color: var(--secondary-two);
        text-align: center;
        max-width: 310px;
        margin-inline: auto;
        margin-bottom: 32px;
    }
    .or-text {
        color: var(--secondary-three);
        text-align: center;
        margin-bottom: 40px;
    }
    .term-agree {
        color: var(--secondary-two);
        font-weight: 500;
        line-height: 1.4;
        a {
            text-decoration: underline;
            display: inline;
        }
    }
    .checkbox-gap {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .checkbox-wrapper {
        display: flex;
        gap: 12px;
    }
    .error-text,
    .error-head {
        display: none;
    }
    .error {
        position: relative;
        z-index: 1;
        input {
            position: relative;
            border-color: var(--error);
        }
        .error-text {
            color: var(--error);
            font-size: 14px;
            font-weight: 500;
            max-width: 350px;
            display: block;
            line-height: 1.35;
            margin-top: 8px;
        }
        .error-text {
            display: block;
        }
        .error-head {
            position: absolute;
            right: 24px;
            top: 20px;
            display: block;
        }
    }
}
.github-google-wrapper {
    border-bottom: 1px solid var(--secondary-five);
    padding-bottom: 40px;
    margin-bottom: 32px;
    a {
        background-color: var(--third-two);
        border-radius: 80px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 11px;
        font-size: 18px;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}
// register form end

// useful-link-only mobile start
.useful-link-mobile {
    border-top: 1px solid var(--secondary-six);
    padding-bottom: 27px;
    padding-top: 24px;
    ul {
        li {
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            a {
                font-size: 14px;
                font-weight: 400;
                color: var(--heading);
            }
        }
    }
    .useful-bottom-content {
        padding-top: 24px;
        p {
            margin: 0;
            color: var(--secondary-three);
            font-size: 14px;
            line-height: 1.4;
            &:first-child {
                margin-bottom: 11px;
            }
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}
// useful-link-only mobile end
