<!-- footer section start  -->
<footer>
    <div class="container">
        <!-- useful-link-only mobile start -->
        <div class="useful-link-mobile">
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Terms of service</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="useful-bottom-content">
                <div class="footer-logo"><a href=""><img src="assets/images/footer-logo.png" alt="footer logo"></a>
                </div>
                <p>Build in 🇪🇪 by 🇫🇷 and marketed by 🇮🇹</p>
                <p>No cookies with personal data.</p>
            </div>
        </div>
    </div>
    <!-- useful-link-only  mobile end -->
</footer>
<!-- footer section end -->