<!-- header part start -->
<header>
    <div class="container">
        <nav>
            <ul class="menu">
                <li>
                    <h6>Title</h6>
                </li>
                <li><a href="">Hire</a></li>
                <li><a href="">Candidate</a></li>
                <li><a href="">Duo Junior Senior <span class="badge">BETA</span></a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="" class="register-btn">Register</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- header part end -->