<!-- header part start -->
<header>
    <div class="container">
        <nav class="mobile-nav">
            <div class="logo-left">
                GetAwed
            </div>
            <div class="toggler">
                <img src="assets/images/icons/navigation.svg" alt="navigation icon">
            </div>
        </nav>
        <nav class="nav-wrapper">
            <ul class="menu">
                <li>
                    <h6>Title</h6>
                </li>
                <li><a href="">Hire</a></li>
                <li><a href="">Candidate</a></li>
                <li><a href="">Duo <span class="mobile-none">Junior Senior</span> <span class="badge">BETA</span></a>
                </li>
            </ul>
            <ul class="nav-right">
                <li><a href="" class="register-btn">Register</a></li>
                <li><a href="">Login</a></li>
            </ul>
            <ul class="nav-right-mobile">
                <li><a href="" class="active">Sign-in</a></li>
                <li><a href="">Sign-up</a></li>
            </ul>
            <div class="close-btn toggler">
                <img src="assets/images/icons/close.svg" alt="close icon">
            </div>
        </nav>
    </div>
</header>
<!-- header part end -->