.badge {
    font-size: 14px;
    padding: 6px 10px;
    line-height: 1.3;
    font-weight: 500;
    border-radius: 8px;
    color: var(--heading);
    border: 1px solid var(--secondary-four);
    display: inline-block;
    &.small {
        font-size: 13px;
    }
    &.large {
        padding: 7.5px 16px;
        line-height: 1.4;
        span {
            color: #868686;
        }
    }
}
