.form-group {
    margin-bottom: 16px;
}
.form--control {
    width: 100%;
    height: 56px;
    border: 1px solid var(--secondary-four);
    padding: 17px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--body-font);
    // transition: all ease 0.3s;
    outline: 0;
    &::placeholder {
        font-weight: 500;
        color: var(--secondary-two);
    }
    &::-webkit-input-placeholder {
        font-weight: 500;
        color: var(--secondary-two);
    }
    &:focus {
        border-color: var(--base);
    }
}

// input[type="radio"] {
//     width: 20px;
//     height: 20px;
//     border-radius: 6px !important;
//     background-color: var(--white);
//     border-color: var(--secondary-four);
// }

input[type="radio"] {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--secondary-four);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    border-radius: 6px;
}
input[type="radio"]:checked {
    background: url("../images/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--base);
    border-color: var(--base);
}
